<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<h1>Ingresar Actor</h1>
			<%= form_for @actors do |a| %>
				<div class="form-group">
					<%= a.text_field :name, class: "form-control input-lg", placeholder: "Nombre del Actor" %>
				</div>
				<div class="form-group">
					<%= a.text_area :bio, class: "form-control input-lg", placeholder: "Biografía" %>
				</div>
				<div class="form-group">
					<%= a.date_field :birth_date, class: "form-control input-lg", placeholder: "Fecha Nacimiento" %>
				</div>
				<div class="form-group">
					<%= a.text_field :birth_place, class: "form-control input-lg", placeholder: "Lugar de Nacimiento" %>
				</div>
				<div class="form-group">
					<%= a.url_field :image_url, class: "form-control input-lg", placeholder: "Imagen" %>
				</div>
				<div class="form-group">
					<%= radio_button_tag (:alive), class: "form-control input-lg", placeholder: "Está vivo?"%>
				</div>
				<div class="form-group">
					<%= a.date_field :death_date, class: "form-control input-lg", placeholder: "Fecha Fallecimiento" %>
				</div>
				<div class="form-group">
					<%= a.text_field :death_place, class: "form-control input-lg", placeholder: "Lugar de Fallecimiento" %>
				</div>
				<div>
					<%= a.submit "Crear Actor", class: "btn btn-primary btn-lg btn-block" %>
				</div>
			<% end %>
		</div>
	</div>
</div>